@page "/product/{id}"
@inject IProductServices productServices

<div class="media-img-big-wrapper mr-2">
    <a href="/product/@product.Id">
        <img class="media-img-big" src="@product.Image" alt="@product.Title" />
    </a>
</div>
<div class="media-body">
    <h2 class="mb-0">@product.Title</h2>
    <p>@product.Description</p>
    @if (product.OriginalPrice > product.Price)
    {
        <h6 class="text-muted original-price">$@product.OriginalPrice</h6>
    }
    <h5 class="price">$@product.Price</h5>
    @* The "$" is added to indicate that it's a monetary value *@
    <button class="btn btn-primary"><i class="oi oi-cart"></i>&nbsp;&nbsp;&nbsp;Add to Cart</button>
</div>

@code {
    public Product product = null;
    [Parameter]
    public string Id { get; set; }  // it is the parameter in the page above, we need to add this, else it returns 404

    protected override void OnInitialized()
    {
        if (productServices.Products == null || productServices.Products.Count == 0)
        {
            productServices.LoadProducts();
        }
        product = productServices.Products.FirstOrDefault(p => p.Id == Int32.Parse(Id));
    }
}
